@mixin flex-set($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin size-set($width, $height) {
  width: $width;
  height: $height;
}
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#container {
  @include size-set(100vw,100vh);
  @include flex-set(center, flex-end, row);
  transition: 1s;

  img {
    @include size-set(50vw, 100vh);
  }

  & > div {
    width: 20vw;
    @include margin(0, 0, 10vh, 2vw);
    
    #text {
      text-align: center;
      transition: 1s;
    }

    #circle {
      @include flex-set(space-evenly, center, row);

      div {
        @include size-set(20px, 20px);
        @include margin(3vh, 0, 3vh, 0);
        background: #000;
        border-radius: 50%;
        transition: 1s;
      }
    }
  }
}
