// mixin
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

#container {
  width: 3240px;
  @include flex(center, center);
  section {
    height: 100vh;
    width: 1080px;
    border: 1px solid red;
  }
}
